---
layout: default
custom_js: home
---

<section class="section section--hero hero">
    <div class="container">
        <div class="hero__inner columns is-vcentered">
            <div class="hero__video column"
                 style="background-image: url({{ site.github.url }}/images/bg/bg_video-supertrailer.jpg)">

                <video autoplay="" muted="" loop="" id="myVideo" class="responsive-video js-video"
                       data-url="{{ site.github.url }}/assets/SuperTrailer2020_720p.mov"
                       data-url-mobile="">
                </video>

                <a class="hero__play js-play" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40.42" viewBox="0 0 30 40.418"
                         class="hero__play-icon">
                        <path d="M30.76,58.573,55.637,40.914a2.594,2.594,0,0,0,0-4.189L30.76,19.131a2.572,2.572,0,0,0-4.06,2.127V56.575A2.551,2.551,0,0,0,30.76,58.573Z"
                              transform="translate(-26.7 -18.645)" fill="currentColor"/>
                    </svg>
                </a>
            </div>
            <div class="hero__content column">
                <h1 class="title title--main">Become a Digital Leader</h1>

                <ul class="list list--big">
                    <li>For 11-19 years old students</li>
                    <li>Learn the latest technologies.</li>
                    <li>Grow your business knowledge.</li>
                    <li>Express your creativity</li>
                </ul>

                <!--<a href="#" class="button">Learn more</a>-->
            </div>
        </div>
    </div>
</section>

<section class="section image-left">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <img class="image section__image" src="{{ site.github.url }}/images/highlights/LTSGameEvent-91.jpg" alt="">
            </div>
            <div class="column">
                <h2 class="title is-uppercase">Why LTS ?</h2>
                <div class="content">
                    <p>
                        Luxembourg needs people with digital skills!
                        Still, a large number of children and students have never been engaged in any coding activity.
                        This is both a challenge and an opportunity to fill this void and provide new learning possibilities.
                    </p>
                    <p>
                        If you are between 11 and 19 years old, passionate about the digital realm and eager to learn and apply technology in a real business context, then the Luxembourg Tech School (LTS for short) is for you!
                    </p>
                </div>
                <a href="/how-it-works" class="button">How it works?</a>
            </div>
        </div> <!-- columns -->
    </div>
</section>

<section class="section image-right">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <img class="image section__image" src="{{ site.github.url }}/images/highlights/AstroPiSES2019-3.14.1.jpg" alt="">
            </div>
            <div class="column">
                <h2 class="title is-uppercase">What ? How ?</h2>
                <div class="content">
                    <p>
                        Since 2016, the Luxembourg Tech School supports the national strategy by developing the future digital leaders.
                        We implemented a unique project-based methodology that has proven, not only, successful, but also highly motivating and fun for you.
                    </p>
                    <p>
                        You work in teams on your own projects, learn new technologies and get personalised coaching!
                        From Creative Coding, to Game Development, passing by Financial Technologies, Artificial Intelligence or even Space, we provide a packed program.
                    </p>
                </div>
                <a href="/program" class="button" title="Read more about how it works">Discover the program</a>
            </div>
        </div> <!-- columns -->
    </div>
</section>

<section class="section where">
    <div class="container">
        <div class="where__header">
            <h2 class="title is-uppercase">Where ?</h2>
            <h3 class="subtitle">10+ Schools, 200+ Students</h3>
        </div>

        <div class="columns is-desktop is-flex-wrap-wrap mt-5 where__list">
            {% for location in site.data.schools %}
            <div class="column is-one-third-desktop is-one-fifth-widescreen">
                <h3 class="where__title where__title--{{location.color}}">{{location.location}}</h3>
                <ul class="list list--bullet">
                    {% for school in location.schools %}
                    <li><a href="{{school.link}}" target="_blank" class="where__link">{{school.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>

        <div class="where__footer">
            <strong>Not a student in one of these schools ? No problem !</strong>
            <p>You’re still welcome to join in any of these schools.</p>
        </div>
    </div>
</section>

<section class="section news">
    <div class="container">
        <h2 class="title has-text-centered is-uppercase mb-6">Latest News</h2>

        <div class="columns is-flex-wrap-wrap is-justify-content-center">
            {% for i in (1..2) %}
            <div class="column is-half-tablet is-one-third-desktop">
                <a class="item-preview" href="#">
                    <span class="item-preview__date">09/02/2021</span>
                    <h3 class="item-preview__title is-uppercase">AstroPi Workshop at SES - 2019</h3>
                    <div class="item-preview__image" style="background-image: url('')"></div>
                    <div class="item-preview__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua…
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="button-center">
            <a href="#" class="button">See all</a>
        </div>
    </div>
</section>

<section class="section want-to-join has-text-centered">
    <h2 class="title title--white is-uppercase">Want to join ?</h2>
    <h3 class="subtitle subtitle--dark mb-4">It's totally free !</h3>

    <div class="button-center">
        <a href="#" class="button button--big">Register</a>
    </div>
</section>

