---
layout: default
---

<section class="section hero">
    <div class="container">
        <div class="hero__inner columns is-vcentered">
            <div class="hero__video column">
                <video class="responsive-video" poster="{{ site.github.url }}/images/bg/bg_video-supertrailer.jpg"
                       playsinline autoplay muted loop>
                    <source src="{{ site.github.url }}/assets/SuperTrailer2020_720p.mov" type="video/mp4">
                </video>
            </div>
            <div class="hero__content column">
                <h1 class="title title--main">The Tech School you were waiting for!</h1>

                <ul class="list list--big">
                    <li>Build the leader in you.</li>
                    <li>Learn the latest technologies.</li>
                    <li>Grow your business knowdledge.</li>
                </ul>

                <a href="#" class="button">Learn more</a>
            </div>
        </div>
    </div>
</section>

<section class="section image-left">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <img class="image section__image" src="{{ site.github.url }}/images/ictspring-1.jpg" alt="">
            </div>
            <div class="column">
                <h2 class="title is-uppercase">Why ?</h2>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
                <a href="#" class="button">Read more</a>
            </div>
        </div> <!-- columns -->
    </div>
</section>

<section class="section image-right">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <img class="image section__image" src="{{ site.github.url }}/images/ictspring-1.jpg" alt="">
            </div>
            <div class="column">
                <h2 class="title is-uppercase">What ? How ?</h2>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
                <a href="#" class="button">Read more</a>
            </div>
        </div> <!-- columns -->
    </div>
</section>

<section class="section where">
    <div class="container">
        <div class="where__header">
            <h2 class="title is-uppercase">Where ?</h2>
            <h3 class="subtitle">10+ Schools, 200+ Students</h3>
        </div>

        <div class="columns is-desktop is-flex-wrap-wrap mt-5 where__list">
            {% for location in site.data.schools %}
            <div class="column is-half-desktop is-one-quarter-widescreen">
                <h3 class="where__title where__title--{{location.color}}">{{location.location}}</h3>
                <ul class="list list--bullet">
                    {% for school in location.schools %}
                    <li><a href="{{school.link}}" target="_blank">{{school.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>

        <div class="where__footer">
            <strong>Not a student in one of these schools ? No problem !</strong>
            <p>You’re still welcome to join in any of these schools.</p>
        </div>
    </div>
</section>

<section class="section news">
    <div class="container">
        <h2 class="title has-text-centered is-uppercase">Latest News</h2>

        <div class="grid grid--news">
            <a class="item-news" href="#">
                <div class="item-news__inner">
                    <div class="item-news__header">
                        <span class="item-news__date">09/02/2021</span>
                        <h3 class="item-news__title is-uppercase">Astropi Workshop...</h3>
                    </div>
                    <div class="item-news__image" style="background-image: url()"></div>
                    <div class="item-news__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua…
                    </div>
                </div>
            </a>

            <a class="item-news" href="#">
                <div class="item-news__inner">
                    <div class="item-news__header">
                        <span class="item-news__date">09/02/2021</span>
                        <h3 class="item-news__title is-uppercase">Astropi Workshop...</h3>
                    </div>
                    <div class="item-news__image" style="background-image: url()"></div>
                    <div class="item-news__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua…
                    </div>
                </div>
            </a>
        </div>

        <div class="button-center">
            <a href="#" class="button">See all</a>
        </div>
    </div>
</section>

<section class="section want-to-join has-text-centered">
    <h2 class="title title--white is-uppercase">Want to join ?</h2>
    <h3 class="subtitle subtitle--dark mb-4">It's totally free !</h3>

    <div class="button-center">
        <a href="#" class="button button--big">Register</a>
    </div>
</section>

