---
layout: default
title: Luxembourg Tech School - Program
permalink: program
---

<div class="blob"></div>

<section class="page-header page-header--program container">
    <h1 class="title title--main is-spaced">
        Discover The Program
    </h1>
    <h2 class="subtitle">
        This epic program is for all 12-19 years old students who are passionate about the digital world and eager to
        learn and apply technology in a real business and creative context.
    </h2>
    <div class="content content--highlighted">
        <p>
            We offer a <strong>3 year program</strong>. You can start with Level G0, Level One or Level Up,
            depending on your age.
            Each level is divided into up to 3 modules, each centered on one specific domain.
        </p>
        <p>
            At the end of each course, you will have the opportunity to <strong>present your project to the real world</strong>!
        </p>
        <p>
            The program below is a preview of the cool topics that are covered.
            There won't be much theory (a little is always useful).
            It is filled with <strong>practical examples</strong>, <strong>exercices</strong> and you <strong>work on your
            own project</strong>!
        </p>
        <p>
            During Level G0 you will discover the creative side of coding and how to talk to machines.
            During Level One and Level Up, you will learn a lot about <strong>teamwork</strong>, <strong>software
            development</strong>, entrepreneurship and even upgrade your presentation skills by multiple factors.
        </p>
        <p>
            It won't be easy, but at the end you will have created many awesome projects, will have learned a ton of
            new things and, most importantly, while having a lot of fun.
        </p>
    </div>
</section>

<section class="section section--program">
    {% for program in site.data.programs %}
    <div class="program-level" id="{{program.anchor}}">
        <div class="container">
            <h2 class="title is-uppercase">{{program.name}}</h2>
            <h3 class="subtitle subtitle--small">
                {{program.description}}
            </h3>
            <div class="program-level__information">
                <div class="program-level__age">
                    <strong class="is-uppercase">Age:</strong>
                    {{program.age}}
                </div>
                <div class="program-level__extra">
                    <strong class="is-uppercase">Duration:</strong>
                    1 Academic Year
                </div>
                {% if program.requirement %}
                <div class="program-level__extra">
                    <strong class="is-uppercase">Requirement:</strong>
                    {{ program.requirement }}
                </div>
                {% endif %}
            </div>
            <div class="columns is-tablet is-flex-wrap-wrap">
                {% for module in program.modules %}
                <div class="column is-half-tablet is-one-third-desktop program-module">
                    <img class="program-module__image" src="{{ site.github.url }}/{{module.image}}"
                         alt="{{module.name}} illustration">
                    <h3 class="program-module__title">{{module.name}}</h3>
                    <ul class="list">
                        {% for item in module.items %}
                        <li>{{item}}</li>
                        {% endfor %}

                        {% if module.eventLink %}
                        <li class="program-module__event">
                            <a href="{{module.eventLink}}" class="program-module__event-link"><span
                                    class="program-module__event-icon"></span>{{module.event}}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% endfor %}
            </div>

            {% if program.registration_status == 'open' %}
                <a href="/registration" class="button button--purple button--big">Registration</a>
            {% elsif program.registration_status == 'closed' %}
            <a href="/registration" class="button button--big">Registration closed</a>
            {% endif %}

        </div>
    </div>
    {% endfor %}
</section>

