<footer class="footer">
  <div class="container">
    
    <div class="columns">
      <div class="column">
      <ul>
        <li>&copy; 2020 Luxembourg Tech School</li>
        <li><a target="_blank" href="{{ site.github.url }}/assets/gdpr/LTSOnline_PrivacyPolicy_V1.pdf">Data Protection Policy</a></li>
      </ul>
        
      </div>

      <div class="column">
        <strong>We are Social, follow us:</strong>
        <ul>
          <li><a target="_blank" href="https://twitter.com/LuxTechSchool">
            <span class="icon twitter"><i class="fa fa-twitter"></i></span> Twitter</a></li>
          <li><a target="_blank" href="https://www.facebook.com/LuxTechSchool/">
            <span class="icon facebook"><i class="fa fa-facebook"></i></span> Facebook</a></li>
          <li><a target="_blank" href="https://github.com/LuxembourgTechSchool">
            <span class="icon github"><i class="fa fa-github"></i></span> GitHub</a></li>
          <li><a target="_blank" href="https://www.instagram.com/luxtechschool/">
            <span class="icon instagram"><i class="fa fa-instagram"></i></span> Instagram</a></li>
          <li><a target="_blank" href="https://www.youtube.com/channel/UCQ06napTcxCkFFuhxCyUNLw">
            <span class="icon youtube"><i class="fa fa-youtube"></i></span> Youtube</a></li>
        </ul>
      </div>
      <div class="column">
          <p><strong>Press:</strong></p>

          <p><a target="_blank" href="{{ site.github.url }}/assets/press/LTS-PR-LuxembourgLearningToWork.pdf">LTS - Learning to Work</a></p>

          <p><a target="_blank" href="https://www.siliconluxembourg.lu/hackathon-at-luxembourg-tech-school-a-promising-future/">Silicon Luxembourg - Ai4Finance Hackathon</a></p>

          <p><a target="_blank" href="https://www.lhoft.com/en/insights/the-future-digital-leaders-of-the-luxembourg-tech-school-play-the-financial-game-of-life">LHOFT - Ai4Finance Hackathon</a></p>
          
          <p><a target="_blank" href="https://digital-luxembourg.public.lu/news/second-year-row-tomorrows-leaders-game-development-converge-unleash-their-full-potential">Digital Luxembourg - Game Event 2018</a></p>

          <p><a target="_blank" href="{{ site.github.url }}/assets/press/01.07.2017-LTS-Hackathon-AGEFI.pdf">AGEFI Luxembourg - FinTech Hackathon</a></p>

          <p><a target="_blank" href="http://www.itone.lu/actualites/future-digital-leaders-luxtechschool-invent-bank-tomorrow">IT One - FinTech Hackathon</a></p>

          <p><a  target="_blank" href="https://digital-luxembourg.public.lu/news/luxembourg-tech-school-students-build-bank-future">Digital Luxembourg  - FinTech Hackathon</a></p>

          <p><a target="_blank" href="http://www.journal.lu/top-navigation/article/punkte-fuer-den-digitalen-cv/?L=0&cHash=5e3ae2b6315fb5381f27bd2c0bea9e5e">
Lëtzebuerger Journal - Big Data</a></p>

          <p><a target="_blank" href="https://digital-luxembourg.public.lu/news/luxembourg-tech-school-pupils-win-awards">Digital Luxembourg - Game Event 2017</a></p>

          <p><a target="_blank" href="http://www.chronicle.lu/categoriesbusinessitcgaming/item/20274-luxembourg-tech-school-rewards-nine-pupils-for-gaming-talent">Chronicle.lu - Game Event</a></p>

          <p><a target="_blank" href="https://digital-luxembourg.public.lu/news/official-launch-luxembourg-tech-school-pilot-project">Digital Luxembourg - Official Launch</a></p>
          
      </div>
    </div>
    
  </div>
</footer>

<script src="{{ "/javascript/bulma.js" | prepend: site.baseurl }}"></script>
<script   src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
