<footer class="footer">
    <div class="container footer__inner">
        <div class="footer__menus">
            <ul class="footer__menu">
                <li class="footer__item"><a href="{{ site.github.url }}/assets/LTS_PressKit_v1.zip"
                                            class="footer__link">Press Kit</a></li>
                <li class="footer__item"><a target="_blank" href="{{ site.github.url }}/assets/gdpr/LTSOnline_PrivacyPolicy_V1.pdf" class="footer__link">Data Protection Policy</a></li>
                <li class="footer__item"><a href="/press" class="footer__link">In the Press</a></li>
            </ul>
            <ul class="footer__menu">
                <li class="footer__item"><a href="/videos" class="footer__link">Videos</a></li>
                <li class="footer__item"><a href="/jobs" class="footer__link">Jobs</a></li>
                <li class="footer__item"><a href="/faq" class="footer__link">FAQ</a></li>
            </ul>
        </div>

        <ul class="footer__socials socials">
            {% for item in site.data.social %}
            <li class="socials__item">
                <a target="_blank" rel="noopener noreferrer" href="{{item.url}}">
                    <img src="/icons/{{item.name | downcase }}.svg" alt="{{item.name | downcase }} icon">
                </a>
            </li>
            {% endfor %}
        </ul>

        <p class="footer__credit">&copy; 2021 Luxembourg Tech School</p>
    </div>
</footer>

<script src="{{ '/javascript/general.js' | prepend: site.baseurl }}"></script>
