<header>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img id="lts-logo" src="{{ site.github.url }}/images/LogoLTS.png" alt="Luxembourg Tech School: Building the next Digital Leaders" height="35">
      </a>

      <div class="navbar-burger burger" data-target="navMenuExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link  is-active" href="/">Home</a>
          <div class="navbar-dropdown ">
            <a class="navbar-item " href="/#techschool">A new tech school</a>
            <a class="navbar-item " href="/#program">An epic program</a>
            <a class="navbar-item " href="/#howitworks">How it works</a>
          </div>
        </div>

        <a class="navbar-item" href="/media">Media</a>

        <a class="navbar-item" href="/team">Team</a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/gamedev">LTS Online</a>
          <div class="navbar-dropdown ">
            <a class="navbar-item " href="/gamedev">GameDev</a>
            <hr class="navbar-divider">
            <a class="navbar-item " href="/creativecoding-en">Creative Coding (EN)</a>
            <a class="navbar-item " href="/creativecoding-de">Creative Coding (DE/LU)</a>
            <hr class="navbar-divider">
            <a class="navbar-item " href="/hackathon-ai4finance-2021">Hackathon - Digital for Financial Inclusion &nbsp;<span class="tag is-danger is-rounded"><strong>NEW</strong></span></a>
          </div>
        </div>

        <a class="navbar-item" href="/jobs">Open Positions</a>

        <a class="navbar-item" href="/contact">Get in touch</a>

        {% if site.registration.isOpen %}
        <a class="navbar-item" href="/register">
          <span class="tag is-danger"><strong>Register Here</strong></span>
        </a>
        {% endif %}
        
      </div>

      <div class="navbar-end">
        {% for item in site.data.social %}
        <a class="navbar-item" href="{{item.url}}" target="_blank">
          <span class="{{item.class}}">
            <i class="{{item.icon}}"></i>
          </span>
        </a>
        {% endfor %}
      </div>
    </div>
  </nav>

</header>
