<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | default: page.short_description | default: site.description | jsonify }},
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  {% if page.thumbnail %}"image": "{{ page.thumbnail | prepend: site.url }}",{% endif %}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  },
  "author": {
    "@id": "{{ site.url }}/#organization"
  },
  "publisher": {
    "@id": "{{ site.url }}/#organization"
  }
}
</script>
