<section class="section supporters">
    <h2 class="title has-text-centered is-uppercase">Supported by</h2>

    <ul class="supporters__list">
        <li class="supporters__item">
            <a href="http://www.men.public.lu/" target="_blank" class="supporters__link">
                <img src="{{ site.github.url }}/images/supporters/logo-gov.png"
                     alt="Logo Luxembourg Government"
                     class="image">
            </a>
        </li>

        <li class="supporters__item">
            <a href="http://www.digital-luxembourg.public.lu/" target="_blank" class="supporters__link">
                <img src="{{ site.github.url }}/images//supporters/logo-digitalluxembourg.png"
                     alt="Logo Digital Luxembourg" class="supporters__image">
            </a>
        </li>

        <li class="supporters__item">
            <a href="https://portal.education.lu/script/" target="_blank" class="supporters__link">
                <img src="{{ site.github.url }}/images//supporters/logo-menej.png" alt="SCRIPT"
                     class="supporters__image">
            </a>
        </li>

        <li class="supporters__item">
            <a href="http://www.cgie.lu" target="_blank" class="supporters__link">
                <img src="{{ site.github.url }}/images//supporters/logo-cgie.png" alt="CGIE" class="supporters__image">
            </a>
        </li>


        <li class="supporters__item">
            <a href="https://space-agency.public.lu" target="_blank" class="supporters__link">
                <img src="{{ site.github.url }}/images/supporters/logo-lsa.png"
                     alt="Logo Luxembourg Space Agency"
                     class="supporters__image">
            </a>
        </li>

        <li class="supporters__item">
            <a href="https://www.fnr.lu" target="_blank" class="supporters__link">
                <img src="{{ site.github.url }}/images/supporters/logo-fnr.png"
                     alt="Logo National Research Fund"
                     class="supporters__image">
            </a>
        </li>

        <li class="supporters__item">
            <a href="https://www.loschfondation.lu" target="_blank" class="supporters__link">
                <img src="{{ site.github.url }}/images/supporters/logo-fal.png" alt="André Losch Fondation"
                     class="supporters__image">
            </a>
        </li>

        <li class="supporters__item">
            <a href="https://www.abbl.lu" target="_blank" class="supporters__link">
                <img src="{{ site.github.url }}/images/supporters/logo-abbl.png"
                     alt="The Luxembourg Bankers Association (ABBL)" class="supporters__image">
            </a>
        </li>
    </ul>

    <p class="supporters__cta has-text-centered">
        Interested to partner up? <a href="/contact">Get in touch</a>
    </p>

</section>