/**
 * General
 */

/**
 * Coloring
 */

.content-white {
  color: white;
}

.bold-white {

  strong {
    color: white;
  }

}

.header-highlight {
  color: #c4302b;
}



/**
* Custom fonts (title and texts)
*/

.lts-title {
  font-family: $font-title;
}

.title, .subtitle, .title > strong, .subtitle > strong {
  font-family: $font-title;
  font-weight: 400;
}

.tile > .title, .tile > .subtitle {
  color: $blue-color;
  font-weight: 400;
}

/**
 * Navigation
 */

#lts-logo {
  max-height: 50px;
}

/**
 * Backgrounds
 */

@mixin bg {
  background-position: center center;
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-size: cover;
}

.bg-main {
  background: linear-gradient(
                  rgba(20, 20, 20, .4),
                  rgba(20, 20, 20, .4)), url(/images/bg/bg_work-2.jpg);
  @include bg;
}

.bg-media {
  background: url(/images/bg/bg_media.jpg);
  @include bg;
}

.bg-team {
  background: url(/images/bg/bg_team.jpg);
  @include bg;
}

.bg-contact {
  background: url(/images/bg/bg_contact.jpg);
  @include bg;
  background-position: 20% 20%;
}

.bg-gamedev {
  background: url(/images/bg/bg_gamedev.jpg);
  @include bg;
  background-position: 20% 20%;
}

.bg-register {
  background: url(/images/bg/bg_register.jpg);
  @include bg;
}

.bg-jobs {
  background: linear-gradient(
                  rgba(20, 20, 20, .4),
                  rgba(20, 20, 20, .4)), url(/images/bg/bg_jobs.jpg);
  @include bg;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * Home Page
 */


.lts-hero-title {
  font-size: 3rem;
  font-weight: 900;
  text-shadow: #777777 0.2em 0.2em 0.5em;
  margin-bottom: 80px;
  color:white;
}

.lts-hero-item {
  font-weight: 600;
  text-shadow: #777777 0.2em 0.2em 0.5em;
  color:white;
}


/**
 * Program Content
 */

.lts-program-title {
  font-size: 3rem;
}

.panel-custom {

  width: 320px;
  margin: auto;

  .panel-block {
    display: block;
  }
}

.panel-custom-large {

  width: 450px;
  margin: auto;

  .panel-block {
    display: block;
  }
}

@mixin lts-panel-heading {
  color: white;
  font-weight: 700;
  font-size:  2rem;
}

.panel-custom-blue {
  border-color: $blue-color;

  > .panel-heading {
    @include lts-panel-heading;
    background-color: $blue-color;
  }
}

.panel-custom-orange {
  border-color: $orange-color;

  > .panel-heading {
    @include lts-panel-heading;
    background-color: $orange-color;
  }
}

.panel-custom-green {
  border-color: $green-color;

  > .panel-heading {
    @include lts-panel-heading;
    background-color: $green-color;
  }
}

.panel-custom-footer {
  background-color: lightgray;
}

/**
 * Partners
 */

#partners {
  img {
    max-height: 100px;
    margin: 20px auto;
  }
}

/**
 * Team Content
 */

#team {
  .card-profile-image {
    width: 200px;
    margin: auto;
  }
}

/**
* Register Box
*/

.register-button {
  width: 100%;
}


/**
* Media Page
*/

.media-title {
  font-size: 1.2rem;
  min-height: 55px;
}

/**
* Social
*/

.github {
  color: #333;
}

.twitter {
  color: #55acee;
}

.facebook {
  color: #3b5998;
}

.youtube {
  color: #c4302b;
}

.instagram {
  color: #c4302b;
}

/**
 * GameDev Challenge
 */
.first-price {
  font-weight: 600;
  font-size: 2.5rem;
}

.second-price {
  font-weight: 500;
  font-size: 2rem;
}

.third-price {
  font-weight: 400;
  font-size: 1.5rem;
}

.course-title {
  font-weight: 800;
}

.video-available {
  color: $blue-color;
}

.video-unavailable {
  color: gray;
}

.table-row-separator {
  height: 40px;
}

/**
 * Creative Coding
 */
.content.large {
  font-size: 20px;
}

.content.larger {
  font-size: 24px;
}

.content-black {
    color: #262626 !important;
}

.info-bubble {
    line-height: 150px;
    background-color: #4287f5;
    color: #ffffff;
    font-size: 1.75vw;
    border-radius: 75px;
    display: inline;
    padding: 20px;
    box-sizing: border-box;
}

@media (orientation: portrait) and (max-width: 768px) {
    .info-bubble {
        font-size: 4vw;
        line-height: 90px;
    }
    .hide-on-portrait {
        display: none;
    }
}

.big-link {
    font-size: 3ch;
}

.text-justified {
    text-align: justify;
}

.img-in-text-left {
    margin-right: 5%;
}

.icon150 {
  height: 150px;
}

.icon300 {
  height: 300px;
}