
/**
 * General
 */

.lts-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

/**
 * Coloring
 */

.content-white {
    color: white;
}

.bold-white {

    strong {
        color: white;
    }

}

/**
 * Backgrounds
 */

.bg-team {
    background: url(/images/bg_team.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    //background-attachment: fixed;
    background-size:  cover;
}

.bg-contact {
    background: url(/images/bg_contact.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    //background-attachment: fixed;
    background-size:  cover;
}

/**
 * Program Content
 */

.panel-custom {

    width: 320px;
    margin: auto;

    .panel-block {
        display: block;
    }
}

.panel-custom-blue {
    border-color: $blue-color;

    > .panel-heading {
        background-color: $blue-color;
        color: white;
        font-weight: 700;
    }
}

.panel-custom-orange {
    border-color: $orange-color;

    > .panel-heading {
        background-color: $orange-color;
        color: white;
        font-weight: 700;
    }
}

.panel-custom-green {
    border-color: $green-color;

    > .panel-heading {
        background-color: $green-color;
        color: white;
        font-weight: 700;
    }
}

.panel-custom-footer {
    background-color: lightgray;
}

/**
 * Partners
 */

#partners {
    margin-top: 50px;

    img {
        max-height: 100px;
        margin: 20px auto;
    }
}

/**
 * Team Content
 */

 #team {
     .card-profile-image {
         width: 200px;
         margin: auto;
     }
 }

