/**
 * Site Nagivation
 */
.custom-nav {
	background-color: #FFFFFF;
	margin-bottom: 0px;
	border: none;
	border-bottom: 1px solid #FAFAFA;

	min-height: 80px;

	.navbar-header {
		min-height: 80px;
	}

	.navbar-brand {
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 50px; 

		.logo {
			max-height: 70px;
		}
	}

	.navbar-nav > li > a {
	    padding-top: 0px;
	    padding-bottom: 0px;
	    line-height: 80px;

		background-color: #FFFFFF;
	    color: $blue-color;
	}

	@media (max-width: 767px) {
	    .navbar-nav > li > a {
	    line-height: 20px;
	    padding-top: 10px;
	    padding-bottom: 10px;}
	}

	.navbar-nav>.active>a, 	.navbar-nav>.active>a:hover {
		background-color: #FFFFFF;
		color: $red-color;
	}

	.navbar-right {
		margin-right: 50px;
	}
	
}

/**
 * Top Viewport
 */

.full-jumbotron {
	min-height: 100%;
	min-height: 100vh;

	padding-top: 100px;

	margin-bottom: 0px;

	//background-color: $darkblue-color;
	background: url(/images/bg_work.jpeg);
	background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    color: white;
    text-shadow: #777777 0.2em 0.2em 0.5em;

    text-align:center;

    .items {

		margin-top: 40px;

	    .jumbotron-item {
	    	margin-top: 0 auto;

	    	img {
	    		margin: auto;
	    		max-height: 180px;
	    	}
	    }

    }
}

/**
 * How It Works
 */

.feature-img-left {
	padding-right: 0;
}

.feature-img-right {
	padding-left: 0;
}

/**
 * Program Content
 */

.panel-custom-blue {
	border-color: $blue-color;

	> .panel-heading {
	    background-image: none;
	    background-color: $blue-color;
	    color: white;
	}
}

.panel-custom-orange {
	border-color: $orange-color;

	> .panel-heading {
	    background-image: none;
	    background-color: $orange-color;
	    color: white;
	}
}

.panel-custom-green {
	border-color: $green-color;

	> .panel-heading {
	    background-image: none;
	    background-color: $green-color;
	    color: white;
	}
}

.program-item {
	margin-bottom: 10px;
}

/**
 * Partners
 */

 #partners {
 	margin-top: 50px;

 	img {
		max-height: 100px;
		margin: auto;
 	}
 }

/**
 * Footer
 */

.site-footer {
	background-color: $darkblue-color;
	color: white;
	min-height: 150px;
	padding-top: 30px;
}

/**
 * General Content
 */

.page-section {
	margin-bottom: 50px;
}

.text-block {
	padding-left: 40px;
	padding-right: 40px;

	h1, h2, h3, h4, h5 {
		text-align: center;
	}

	.subtitle {
		color: #797979;
	}

	ul li {
		//margin: 10px 0px;
	}

	.text-block-right {
		
	}

	.text-block-left {
		
	}
}

.img-block {
	margin-top: 20px;
	margin-bottom: 20px;
}

.img-center {
	margin-top: 0 auto;
	img {
		margin: auto;
	}
}

.center {
    margin: 0 auto;
    text-align: center;
}

.green {
	color: $green-color;
}

.red {
	color: $red-color;
}

.orange {
	color: $orange-color;
}

.blue {
	color: $blue-color;
}

.gray {
	color: #676767;
}


