
/**
 * General
 */



/**
 * Coloring
 */

.content-white {
    color: white;
}

.bold-white {

    strong {
        color: white;
    }

}

/**
 * Navigation
 */

#lts-logo {
    max-height: none;
}

/**
 * Backgrounds
 */

.bg-main {
    background: linear-gradient(
                     rgba(20,20,20, .4), 
                     rgba(20,20,20, .4)), url(/images/bg_work-2.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    //background-attachment: fixed;
    background-size:  cover;
}

.bg-media {
    background: url(/images/bg_media.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    //background-attachment: fixed;
    background-size:  cover;
}

.bg-team {
    background: url(/images/bg_team.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    //background-attachment: fixed;
    background-size:  cover;
}

.bg-contact {
    background: url(/images/bg_contact.jpg);
    background-position: 20% 20%;
    background-repeat:  no-repeat;
    //background-attachment: fixed;
    background-size:  cover;
}

/**
 * Home Page
 */

.lts-hero-title {
    font-size: 3rem;
    font-weight: 900;
    text-shadow: #777777 0.2em 0.2em 0.5em;
    margin-bottom: 80px;
}

.lts-hero-item {
    font-weight: 600;
    text-shadow: #777777 0.2em 0.2em 0.5em;
}


/**
 * Program Content
 */

.panel-custom {

    width: 320px;
    margin: auto;

    .panel-block {
        display: block;
    }
}

.panel-custom-blue {
    border-color: $blue-color;

    > .panel-heading {
        background-color: $blue-color;
        color: white;
        font-weight: 700;
    }
}

.panel-custom-orange {
    border-color: $orange-color;

    > .panel-heading {
        background-color: $orange-color;
        color: white;
        font-weight: 700;
    }
}

.panel-custom-green {
    border-color: $green-color;

    > .panel-heading {
        background-color: $green-color;
        color: white;
        font-weight: 700;
    }
}

.panel-custom-footer {
    background-color: lightgray;
}

/**
 * Partners
 */

#partners {
    img {
        max-height: 100px;
        margin: 20px auto;
    }
}

/**
 * Team Content
 */

 #team {
     .card-profile-image {
         width: 200px;
         margin: auto;
     }
 }

