---
layout: default
title: Luxembourg Tech School - Team
permalink: team
---

<section class="page-header container">
    <h1 class="title title--main is-spaced">
        Meet The Digital Coaches!
    </h1>
    <h2 class="subtitle">
        Each specialized in their own Tech domain!
    </h2>
</section>

<section id="team" class="section">
    <div class="container">

        {% for member in site.data.team_members %}
        {% cycle '
        <div class="columns is-multiline">', '', '', '' %}
            <div class="column is-3">
                <div class="card lts-team-card">
                    <div class="card-image">
                        <figure class="image card-profile-image">
                            <img src="{{ site.github.url }}{{member.image}}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{member.name}}</p>
                                <p class="subtitle is-6">
                                    {% if member.jobtitle %}<span style="color:darkgray">{{member.jobtitle}}</span><br>{%
                                    endif %}
                                    {{member.title}}
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            {{member.description}}
                            {% if member.twitter %}<br>
                            <a href="{{member.twitter}}" target="_blank">
                                <span class="icon twitter"><i class="fab fa-twitter"></i></span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% cycle '', '', '', '
        </div>
        ' %}
        {% endfor %}

    </div>
</section>
