---
layout: default
title: Luxembourg Tech School - News
permalink: news
---

<section class="page-header container">
    <h1 class="title title--main is-spaced">
        News
    </h1>
    <h2 class="subtitle">
        A lot of exciting events and activities happen during an LTS school year!<br>
        Here's the latest news!<br>
        You can watch latest videos here: <a href="/videos" class="button">Videos</a>
    </h2>
</section>

<section class="section container">
    <div class="columns is-multiline">
        {% for post in site.posts %}
        <div class="column is-half-tablet is-one-third-desktop">
            <a class="item-preview" href="{{post.url}}">
                <time class="item-preview__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {{ post.date | date: "%b %-d, %Y" }}
                </time>
                <h3 class="item-preview__title is-uppercase">{{post.title}}</h3>
                <div class="item-preview__image" style="background-image: url('')"></div>
                <div class="item-preview__excerpt">{{ post.excerpt }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>



<h1>TEST_ TAGS</h1>

{% for tag in site.tags %}
<h3>{{ tag[0] }}</h3>
<ul>
    {% for post in tag[1] %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endfor %}

