.faqs
  margin-bottom: 80px

.faq
  margin-bottom: 28px
  display: block
  max-width: 1000px

  &__title
    font-size: 18px
    font-weight: 600
    margin-bottom: 15px

    +tablet
      font-size: 21px

  &__question
    font-family: $title-family
    font-size: 21px
    line-height: 1.1
    margin-bottom: 10px
    color: $black

    +tablet
      font-size: 28px

  &__answer
    font-size: 16px
    display: none
    color: #3B4754

    .open &
      display: block

    +tablet
      font-size: 18px

  &__arrow
    width: 18px
    margin-bottom: 6px
    margin-left: 10px
    -webkit-transition: transform 0.3s ease
    transition: transform 0.3s ease

    .open &
      transform: rotate(-180deg)
