.sidenav
  padding: 20px 27px
  border: 2px solid #91B6E6
  min-width: 220px
  margin-bottom: 70px

  +desktop
    min-width: 265px

  &__title
    font-family: $font-title
    font-size: 21px
    line-height: 1
    margin-bottom: 14px
    color: $black

  &__list
    list-style-position: inside

  &__item
    font-size: 1.125rem
    color: $blue-color