.where
  background-color: white
  padding: 50px 0
  margin-bottom: 75px

  &__header
    margin-bottom: 20px

  &__title
    font-family: $title-family
    font-size: 30px
    margin-bottom: 5px
    text-transform: uppercase

    &--blue
      color: $blue

    &--orange
      color: $orange

    &--green
      color: $green

    &--gray
      color: $grey-dark

  &__footer
    +tablet
      text-align: center
      margin-top: 24px

    strong
      font-size: 19px

      +tablet
        text-align: center
        font-size: 21px