.hero
  position: relative
  margin-top: 12px
  background: $white

  &:after
    content: ""
    width: 400px
    height: 365px
    position: absolute
    left: -150px
    top: -210px
    background-image: url("/images/bg/blob-blue.svg")
    background-size: contain
    background-repeat: no-repeat
    z-index: 0

    +desktop
      width: 470px
      height: 430px

  &__inner
    padding: 40px 0 50px

    +desktop
      display: flex
      padding: 80px 0 240px

  &__content
    position: relative
    z-index: 10
    padding-top: 10px

    +desktop
      padding-top: 200px
      max-width: 700px
      padding-right: 40px

  &__play
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: 65px
    height: 65px
    background: $white
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    -webkit-transition: all 0.3s ease
    transition: all 0.3s ease
    z-index: 5

    +desktop
      width: 90px
      height: 90px

    &.fadeout
      opacity: 0
      visibility: hidden

    &-label
      display: inline-block
      text-indent: -999rem

    &-icon
      width: 16px
      margin-left: 8px
      color: $black
      -webkit-transition: all 0.2s ease
      transition: all 0.2s ease

      .hero__play:hover &
        color: $blue

      .hero__play:focus &
        width: 14px

      +desktop
        width: 20px

        .hero__play:focus &
          width: 18px

  &__video
    margin-bottom: 20px

  &__video-inner
    position: relative
    background: #ebebeb
    max-width: 620px
    margin-left: auto
    box-shadow: -10px 10px 25px rgba(13, 26, 43, 0.2)

    +desktop
      max-width: 768px

    &:before
      content: ""
      display: block
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      background: rgba(13, 26, 43, 0.35)

    &:after
      content: ""
      width: 340px
      height: 300px
      position: absolute
      left: -100px
      bottom: -90px
      background-image: url("/images/bg/blob-orange.svg")
      background-size: contain
      background-repeat: no-repeat
      z-index: 0
      display: none

      +desktop
        display: block


  video
    position: relative
    display: block
    width: 100%
    z-index: 3
