.hero
  position: relative
  margin-top: 12px

  +tablet
    height: 600px

  +desktop
    height: 776px

  &__inner
    +tablet
      height: 600px
    +desktop
      height: 776px

  &__content
    padding-top: 15px
    +tablet
      padding-top: 0
      max-width: 560px

  &__play
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: 80px
    height: 80px
    background: $white
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    -webkit-transition: all 0.3s ease
    transition: all 0.3s ease

    +tablet
      width: 100px
      height: 100px

    +desktop
      width: 132px
      height: 132px

    &.fadeout
      opacity: 0
      visibility: hidden

    &-icon
      width: 20px
      margin-left: 8px
      color: $black
      -webkit-transition: all 0.2s ease
      transition: all 0.2s ease

      .hero__play:hover &
        color: $blue

      .hero__play:focus &
        width: 18px

      +tablet
        width: 25px
        .hero__play:focus &
          width: 23px

      +desktop
        width: 30px

        .hero__play:focus &
          width: 28px

  &__video
    position: relative
    margin-bottom: 20px
    background-color: #ebecec

    +tablet
      position: absolute
      top: 0
      right: 0
      width: 50%
      height: 100%
      margin-bottom: 0
      background-color: #ebecec
      background-size: cover
      background-position: center
      display: block

  video
    display: block
    width: 100%
    +tablet
      position: absolute
      top: 0
      left: 0
      height: 100%
      object-fit: cover
