.section
  margin-bottom: 70px

  +desktop
    margin-bottom: 100px

  &--how-it-works
    margin-top: 10px

    +tablet
      margin-top: 60px

  &--program
    margin-bottom: 0

  &--hero
    margin-bottom: 0

    +tablet
      margin-bottom: 70px

    +desktop
      margin-bottom: 120px

  & + .news
    margin-bottom: 75px

  &__image
    height: 300px
    object-fit: cover
    object-position: center

    +tablet
      height: 380px

    +desktop
      height: 470px
      width: 100%

      .image-right &
        padding-left: 4rem
      .image-left &
        padding-right: 4rem
      &--shifted
        margin-top: -190px