---
layout: default
title: Luxembourg Tech School - Videos
permalink: videos
---

<section class="page-header container">
    <h1 class="title title--main is-spaced">
        Videos
    </h1>
    <h2 class="subtitle">
        Here's the list of videos about LTS.<br>Check our Facebook and Twitter to get more pictures and news.
    </h2>
</section>

<!-- https://www.youtube.com/embed/UigzOSB7RgM -->

{% for year in site.data.media %}
<section id="media" class="section">
    <div class="container">
        <h1 class="title">
            <strong>{{year.title}}</strong>
        </h1>

        {% for video in year.videos %}
        <div class="column">
            <p class="media-title">{{video.title}}</p>
            <div class="content has-text-centered">
                <iframe width="100%" height="372" src="{{video.link}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        {% endfor%}

    </div>
</section>
{% endfor %}