---
layout: default
title: Luxembourg Tech School - Game Dev
permalink: gamedev
---

<section class="hero is-info is-large bg-gamedev">
    <div class="hero-body">
        <div class="container">

            <h1 class="title">
                <strong>GameDev Challenge 2020</strong>
            </h1>
            <h2 class="subtitle">
                Learn how to design and develop your own game!
            </h2>
            <h2 class="subtitle">
                An exciting challenge will be announced soon.
            </h2>
        </div>
    </div>
</section>

<section class="hero">
    <div class="hero-body">
        <div class="container">

            <div class="columns">
                <div class="column has-text-centered video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CgfvTfYmKV0" frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="columns has-text-centered">


                <div class="column">
                    <img src="{{ site.github.url }}/images/gamedev/icon-unity.png" alt=""
                         height="150">
                    <h2 class="title lts-hero-item-no-shadow">Learn</h2>
                    <h3 class="subtitle lts-hero-item-no-shadow">Unity - the popular game engine</h3>
                </div>
                <div class="column">
                    <img src="{{ site.github.url }}/images/gamedev/icon-game.png" alt=""
                         height="150">
                    <h2 class="title lts-hero-item-no-shadow">Create</h2>
                    <h3 class="subtitle lts-hero-item-no-shadow">your own game</h3>
                </div>

                <div class="column">
                    <img src="{{ site.github.url }}/images/gamedev/icon-community.png" alt=""
                         height="150">
                    <h2 class="title lts-hero-item-no-shadow">Join</h2>
                    <h3 class="subtitle lts-hero-item-no-shadow">the LTS Community</h3>
                </div>
                <div class="column">
                    <img src="{{ site.github.url }}/images/gamedev/icon-trophy.png" alt=""
                         height="150">
                    <h2 class="title lts-hero-item-no-shadow">Compete</h2>
                    <h3 class="subtitle lts-hero-item-no-shadow">for great prizes</h3>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="gamedev-register" class="section">
    <div class="container">

        <div class="tile is-ancestor">
            <div class="tile is-parent is-12">
                <article class="tile is-child notification is-warning has-text-centered">
                    <p class="title">
                        <span class="icon is-large"><i class="fa fa-bullhorn"></i></span> <strong>Register Now in this
                        Online Course</strong></p>
                    <p class="subtitle"><strong>And learn to build your own game!</strong></p>
                    <div class="content">
                        <p>The Course starts on March 30 2020!</p>
                        <a class="button is-large is-danger register-button" target="_blank"
                           href="https://bit.ly/LTSOnlineGameEB">
                            <span class="icon is-medium">
                                <i class="fa fa-hand-o-right"></i>
                            </span>
                            <span>REGISTER NOW</span>
                            <span class="icon is-medium">
                                <i class="fa fa-hand-o-left"></i>
                            </span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section id="howitworks" class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <strong>HOW IT WORKS</strong>
            </h1>
            <div class="columns">

                <div class="column">
                    <div class="content content-white">
                        <p>
                            You are going to learn how to go from an idea to a <strong>finished 3D or 2D game</strong>,
                            in just a few weeks!
                            That’s what we do at LTS in the class, and now we are also doing it <strong>online</strong>!
                        </p>
                        <p>
                            You will learn to code in a <strong>fun and practical</strong> way.
                            <strong>Game dynamics</strong> will not be a secret to you anymore.
                            You will also get a taste of <strong>storytelling</strong> techniques,
                            digital artwork and online <strong>teamworking</strong>!
                        </p>
                        <p>
                            You’ll also have access to <strong>Digital Coaches</strong> and to our LTS Online Community.
                        </p>
                        <p>
                            And the best part is that it is <strong>100% free</strong> thanks to all our partners who
                            support us and make this possible!
                        </p>
                    </div>
                </div>

                <div class="column has-text-centered">
                    <img class="image" src="{{ site.github.url }}/images/gamedev/Gamedev_Challenge2020_Poster_HowTo.png"
                         alt="">
                </div>

            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">

        <h1 class="title has-text-centered">
            <strong>LEARNING PROGRAM</strong>
        </h1>

        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">{ INTRODUCTION }</h1>
                    <h2 class="subtitle">Learn all about this course.</h2>
                </div>
            </div>
        </section>

        <table class="table is-striped">
            <thead>
            <tr>
                <th>N°</th>
                <th>Lesson</th>
                <th>What is it about?</th>
                <th>Week</th>
            </tr>
            </thead>
            <tbody>
            {% for gamedev_video in site.gamedev_videos_0_intro %}
            <tr>
                <th>{{ forloop.index }}</th>
                {% if gamedev_video.link %}
                <td class="course-title">
                    <a class="video-available" href="{{ gamedev_video.link }}" target="_blank">{{ gamedev_video.lesson
                        }}</a>
                </td>
                {% else %}
                <td class="course-title video-unavailable">{{ gamedev_video.lesson }}</td>
                {% endif %}
                <td>{{ gamedev_video.content | markdownify }}</td>
                <td>Week {{gamedev_video.week}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">{ FIRST STEPS & PLAN }</h1>
                    <h2 class="subtitle">Your first steps creating and planning a game.</h2>
                </div>
            </div>
        </section>

        <table class="table is-striped">
            <thead>
            <tr>
                <th>N°</th>
                <th>Lesson</th>
                <th>What is it about?</th>
                <th>Week</th>
            </tr>
            </thead>
            <tbody>
            {% for gamedev_video in site.gamedev_videos_1_firststeps %}
            <tr>
                <th>{{ forloop.index }}</th>
                {% if gamedev_video.link %}
                <td class="course-title">
                    <a class="video-available" href="{{ gamedev_video.link }}" target="_blank">{{ gamedev_video.lesson
                        }}</a>
                </td>
                {% else %}
                <td class="course-title video-unavailable">{{ gamedev_video.lesson }}</td>
                {% endif %}
                <td>{{ gamedev_video.content | markdownify }}</td>
                <td>Week {{gamedev_video.week}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">{ FAST PROTOTYPING }</h1>
                    <h2 class="subtitle">Learn to create fast!</h2>
                </div>
            </div>
        </section>

        <table class="table is-striped">
            <thead>
            <tr>
                <th>N°</th>
                <th>Lesson</th>
                <th>What is it about?</th>
                <th>Week</th>
            </tr>
            </thead>
            <tbody>
            {% for gamedev_video in site.gamedev_videos_2_fastproto %}
            <tr>
                <th>{{ forloop.index }}</th>
                {% if gamedev_video.link %}
                <td class="course-title">
                    <a class="video-available" href="{{ gamedev_video.link }}" target="_blank">{{ gamedev_video.lesson
                        }}</a>
                </td>
                {% else %}
                <td class="course-title video-unavailable">{{ gamedev_video.lesson }}</td>
                {% endif %}
                <td>{{ gamedev_video.content | markdownify }}</td>
                <td>Week {{gamedev_video.week}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">{ STRAIGHT TO THE POINT }</h1>
                    <h2 class="subtitle">LTS Online series focusing on the essentials. Super Short Videos!</h2>
                </div>
            </div>
        </section>

        <table class="table is-striped">
            <thead>
            <tr>
                <th>N°</th>
                <th>Lesson</th>
                <th>What is it about?</th>
                <th>Week</th>
            </tr>
            </thead>
            <tbody>
            {% for gamedev_video in site.gamedev_videos_3_sttp %}
            <tr>
                <th>{{ forloop.index }}</th>
                {% if gamedev_video.link %}
                <td class="course-title">
                    <a class="video-available" href="{{ gamedev_video.link }}" target="_blank">{{ gamedev_video.lesson
                        }}</a>
                </td>
                {% else %}
                <td class="course-title video-unavailable">{{ gamedev_video.lesson }}</td>
                {% endif %}
                <td>{{ gamedev_video.content | markdownify }}</td>
                <td>Week {{gamedev_video.week}}</td>
            </tr>
            {% endfor %}

            <tfoot>
            <tr>
                <th>&nbsp;</th>
                <th>More coming soon</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </tfoot>

            </tbody>
        </table>

    </div>
</section>


<section id="gamedev-tiles" class="section">
    <div class="container">

        <h1 class="title has-text-centered">
            <strong>THE CHALLENGE</strong>
        </h1>

        <div class="tile is-ancestor">
            <div class="tile is-parent is-6">
                <article class="tile is-child notification is-info bold-white">
                    <p class="title"><strong>RULES</strong></p>
                    <div class="content">
                        <ol class="content content-white">
                            <li>You must use <a href="https://unity.com"><strong>Unity</strong></a> as game engine.</li>
                            <li>You must create a <strong>3D</strong> or <strong>2D</strong> game based on the
                                proposed theme.
                            </li>
                            <li>Your game must be <strong>kids-friendly</strong> (no blood, no hardcore
                                violence, no sexual content or references, etc.)
                            </li>
                            <li>You must create a socially conscious game by avoiding any discriminatory content (based
                                on gender, age, ethnicity, sexual orientation, etc.)
                            </li>
                            <li>Your team is allowed to spend a <strong>maximum of 100€ for third party assets</strong>
                            </li>
                            <li>To register, you must be a <strong>high-school student</strong> aged between ~14 and ~20
                                years old.
                            </li>
                            <li>You can participare individually or as a team of maximum <strong>4 members</strong>.
                            </li>
                            <li>You can only be in one team.</li>
                            <li>Your team must submit a <strong>Game Design Document (GDD)</strong></li>
                            <li>By registering, you give us permission to use your game in LTS <strong>social media
                                communications
                                (videos and images)</strong> but <strong>you keep the copyright of your game</strong>
                            </li>
                        </ol>
                    </div>
                </article>
            </div>

            <div class="tile is-vertical">

                <div class="tile">

                    <div class="tile is-parent is-vertical">

                        <article class="tile is-child notification is-success bold-white">
                            <p class="title"><strong>THEME FOR 2020</strong></p>
                            <div class="content">
                                <h2><strong>The Theme will be announced on March 30.</strong></h2>
                            </div>
                        </article>

                        <article class="tile is-child notification is-danger bold-white">
                            <p class="title">
                                <span class="icon is-large"><i class="fa fa-trophy"></i></span>
                                <strong>PRIZES</strong>
                                <span class="icon is-large"><i class="fa fa-trophy"></i></span>
                            </p>
                            <div class="content">
                                <p>Judges will evaluate your game in terms of idea, gameplay, implementation, graphics
                                    and teamwork.</p>
                                <div class="has-text-centered first-price">
                                    <p>1st prize: 1500&nbsp;€</p>
                                </div>
                                <div class="has-text-centered second-price">
                                    <p>2nd prize: 1000&nbsp;€</p>
                                </div>
                                <div class="has-text-centered third-price">
                                    <p>3rd prize: 750&nbsp;€</p>
                                </div>
                                <br/>
                                <p>
                                    All 3 winners get an additional 1000€ to donate to an NGO of their choice which is
                                    helping
                                    people affected by COVID-19.
                                </p>
                                <p>
                                    Everyone who submits a game and a GDD, gets an official LTS completion certificate!
                                </p>
                                <p>
                                    In all cases, the game is yours. You are encouraged to continue developing it and to
                                    publish it. We can also guide you with that process.
                                </p>
                            </div>
                        </article>

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
