---
layout: default
title: Luxembourg Tech School - Jobs
permalink: jobs
---

<section class="page-header has-text-centered container">
    <h1 class="title title--main is-spaced">
        Jobs
    </h1>
    <h2 class="subtitle">
        Looking to be part of something bigger ? We are recruiting !
    </h2>
</section>

<section class="section container">
    <div class="jobs">

        {% unless site.jobs %}
        <div class="jobs__noresult has-text-centered">
            <h3 class="jobs__title">No open positions for the moment.</h3>
            <a href="/contact" class="button button--blue is-uppercase">Apply spontaneously</a>
        </div>
        {% endunless %}

        {% if site.jobs %}
        {% for job in site.jobs %}
        <div class="jobs__list">
            <li class="job-preview">
                <a href="{{ job.url }}" class="job-preview__link">
                    <span class="job-preview__contract-type">{{ job.contract }}</span>
                    <h3 class="job-preview__title">{{ job.title }}</h3>
                </a>
            </li>
        </div>
        {% endfor %}
        {% endif %}

    </div>
</section>